body {
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.JS_CAL_CONTAINER {
    background-color: rgb(165, 114, 20);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 40px;
    margin-left: 30rem;
    margin-right: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 7rem;
}

.js_calculator {
    height: 35vh;
    width: 20vw;
}

td {
    background-color: black;
    border-radius: 16px;
    padding: 8px 4px;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0 0 10px gray;
}

td:hover {
    /* opacity: 0.6; */
    background-color: rgb(92, 87, 87);
}

#display {
    width: 110%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    position: relative;
    bottom: 0.5rem;
}